{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_table %}
    <div class="col-xs-12 col-sm-12 col-md-12 rz-col">
	    {% block list_inner_table %}
        {% set batchactions = admin.batchactions %}
        {% if admin.hasRoute('batch') and batchactions|length %}
        <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
        <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
        {% endif %}
        {# Add a margin if no pager to prevent dropdown cropping on window #}
        <div class="box box-primary" {% if admin.datagrid.pager.lastPage == 1 and not app.request.isXmlHttpRequest %}style="margin-bottom: 100px;"{% endif %}>
	        {% block box_header %}{% endblock box_header %}
            <div class="box-body {% if admin.datagrid.results|length > 0 %}table-responsive no-padding{% endif %}">
                {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}
                {% block list_header %}{% endblock %}
                {% if admin.datagrid.results|length > 0 %}
                    {% if admin_pool is defined and admin_pool.getOption('use_footable') %}
                      {% set use_footable = admin_pool.getOption('use_footable') %}
                      {% set footable_settings = admin_pool.getOption('footable_settings') %}
                    {% endif %}
	                {# FOOTABLE #}
                    <table class="table table-bordered table-striped sonata-ba-list{% if use_footable is defined and use_footable and admin.getListMode == 'list' %} footable{% endif %}"
		                    {# FOOTABLE #}
                           {% if use_footable is defined and use_footable and admin.getListMode == 'list' and footable_settings is defined %}
		                        {% if footable_settings.toggle_column is defined %} data-toggle-column="{{ footable_settings.toggle_column }}"{% endif %}
		                        {% if footable_settings.show_header is defined and footable_settings.show_header == false %} data-show-header="false"{% endif %}
		                        {% if footable_settings.show_toggle is defined and footable_settings.show_toggle == false %} data-show-toggle="false"{% endif %}
		                    {% endif %}>
                        {% block table_header %}
                            <thead>
                                {% block table_thead %}
	                                {% if admin.getListMode == 'list' %}
	                                    <tr class="sonata-ba-list-field-header">
	                                        {% for field_description in admin.list.elements %}
	                                            {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
			                                        {% if app.request.xmlHttpRequest %}
			                                            {# do not render batch if ajax request #}
		                                            {% else %}
	                                                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch sonata-ba-list-field-header-batch-list" data-visible="true">
	                                                  <input type="checkbox" id="list_batch_checkbox">
	                                                </th>
	                                                {% endif %}
	                                            {% elseif field_description.getOption('code') == '_select' %}
	                                                <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
	                                            {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
	                                                {# Action buttons disabled in ajax view! #}
	                                            {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
	                                                {# Disable fields with 'ajax_hidden' option set to true #}
	                                            {% else %}
	                                                {% set sortable = false %}
	                                                {% if field_description.options.sortable is defined and field_description.options.sortable %}
	                                                    {% set sortable             = true %}
	                                                    {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
	                                                    {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
	                                                    {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
	                                                    {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
	                                                {% endif %}

	                                                {# FOOTABLE #}
	                                                {% if use_footable is defined and use_footable %}
	                                                    {% set footable_data_breakpoints = null %}
	                                                    {% set footable_data_breakpoints_attr = null %}

	                                                    {% if field_description.options.footable is defined and field_description.options.footable.attr is defined %}
	                                                        {% for footable_tagname, footable_attributes in field_description.options.footable.attr %}
	                                                            {# Define Breakpoints #}
	                                                            {% if footable_tagname == 'data-breakpoints' %}
	                                                                {% set footable_data_breakpoints = footable_tagname %}
	                                                                {% for breakpoints_attr in footable_attributes %}
	                                                                    {% if footable_data_breakpoints_attr != '' %}
	                                                                        {% set footable_data_breakpoints_attr = footable_data_breakpoints_attr ~ ' ' ~ breakpoints_attr %}
	                                                                    {% else %}
	                                                                        {% set footable_data_breakpoints_attr = breakpoints_attr %}
	                                                                    {% endif %}
	                                                                {% endfor %}
	                                                            {% endif %}
	                                                        {% endfor %}
	                                                    {% endif %}
	                                                {% endif %}
	                                                {% spaceless %}
	                                                    <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }}{% if sort_active_class %}{{ sort_active_class }}{% endif %}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}
	                                                            {# FOOTABLE #}
	                                                            {% if use_footable is defined and use_footable %}
	                                                                {% if footable_data_breakpoints != '' and  footable_data_breakpoints_attr != '' %}
	                                                                    {{ footable_data_breakpoints }}="{{ footable_data_breakpoints_attr }}"
	                                                                {% endif %}
	                                                            {% endif %}>
	                                                        {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
	                                                        {{ admin.trans(field_description.label, {}, field_description.translationDomain) }}
	                                                        {% if sortable %}</a>{% endif %}
	                                                    </th>
	                                                {% endspaceless %}
	                                            {% endif %}
	                                        {% endfor %}
	                                    </tr>
	                                {% elseif admin.getListMode == 'mosaic' %}
	                                    <tr class="sonata-ba-list-field-header">
	                                        <th class="sonata-ba-list-field-header rz-ba-list-field-header-mosaic">
												<div class="btn-group">
												   <button type="button" class="btn btn-primary"><i class="fa fa-fw fa-refresh"></i> Action</button>
												   <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												     <span class="caret"></span>
												     <span class="sr-only">Toggle Dropdown</span>
												   </button>
												   <ul class="dropdown-menu dropdown-menu-right">
												   {% for field_description in admin.list.elements %}
				                                        {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
				                                            {% if app.request.xmlHttpRequest %}
			                                                {# do not render batch if ajax request #}
				                                            {% else %}
															<li class="sonata-ba-list-field-header sonata-ba-list-field-header-batch"><a id="list_batch_button" href="#" data-checked="false" style="white-space: nowrap; text-overflow: ellipsis;"><i class="fa fa-fw fa-check"></i> Select All</a></li>
			                                                {% endif %}
			                                            {% elseif field_description.getOption('code') == '_select' %}
					                                        <li class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></li>
			                                            {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
			                                                {# Action buttons disabled in ajax view! #}
			                                            {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
			                                                {# Disable fields with 'ajax_hidden' option set to true #}
			                                            {% else %}
			                                                {% set sortable = false %}
			                                                {% if field_description.options.sortable is defined and field_description.options.sortable %}
			                                                    {% set sortable             = true %}
			                                                    {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
			                                                    {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
			                                                    {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
			                                                    {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
			                                                {% endif %}

			                                                {% if sortable %}
			                                                {% spaceless %}
			                                                    <li class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }}{% if sort_active_class %}{{ sort_active_class }}{% endif %}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}>
			                                                        <a href="{% if sortable %}{{ admin.generateUrl('list', sort_parameters) }}{% else %}#{% endif %}">
			                                                        {% if sortable %}<i class="fa fa-fw fa-sort-amount-asc"></i> {% endif %}{{ admin.trans(field_description.label, {}, field_description.translationDomain) }}
			                                                        </a>
			                                                    </li>
			                                                {% endspaceless %}
			                                                {% endif %}
				                                        {% endif %}
			                                        {% endfor %}
												    </ul>
												</div>
	                                        </th>
	                                    </tr>
	                                {% endif %}
                                {% endblock table_thead %}
                            </thead>
                        {% endblock %}

                        {% block table_body %}
                            <tbody>
                                {% include admin.getTemplate('outer_list_rows_' ~ admin.getListMode()) %}
                            </tbody>
                        {% endblock %}

                        {% block table_footer %}
                        {% endblock %}
                    </table>
                {% else %}
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</span>
                            <div class="progress">
                                <div class="progress-bar" style="width: 0%"></div>
                            </div>
                            <span class="progress-description">
                                {% if not app.request.xmlHttpRequest %}
                                    {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
                                {% endif %}
                            </span>
                        </div><!-- /.info-box-content -->
                    </div>
                {% endif %}
                {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
            </div>
            {% block list_footer %}
                {% if admin.datagrid.results|length > 0 %}
                    <div class="box-footer rz-box-footer">
	                    <div class="container-fluid rz-container-fluid">
		                    <div class="row">
			                    {% if not app.request.isXmlHttpRequest %}
				                    <div class="col-xs-12 col-sm-12 col-md-6 rz-table-action-button">
					                    {% if admin.hasRoute('batch') and batchactions|length > 0  %}
						                    {# ACTION BUTTON#}
						                    <a class="btn btn-danger popup-button"
						                       tabindex="0"
						                       role="button"
						                       title="Actions"
						                       id="{{ admin.uniqid }}_list_actions"
						                       data-content=
						                       '{% block batch_actions %}
								                    <div class="form-group">
									                    <label for="{{ admin.uniqid }}_all_elements" style="width: 100%">{{ 'all_elements'|trans({}, 'SonataAdminBundle') }}({{ admin.datagrid.pager.nbresults }})</label>
									                    <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements" class="form-control">
								                    </div>
								                    <div class="form-group">
									                    <label for="{{ admin.uniqid }}_batch_action" style="width: 100%">Action</label>
									                    <select name="action" style="width: auto; height: auto" class="form-control" id="{{ admin.uniqid }}_batch_action">
										                    {% for action, options in batchactions %}
											                    <option value="{{ action }}">{{ options.label }}</option>
										                    {% endfor %}
									                    </select>
									                    <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
								                    </div>
							                    {% endblock %}'>
							                    <i class="fa fa-fw fa-refresh"></i> <span class="hidden-xs hidden-sm hidden-md">Actions</span>
						                    </a>
						                    {% block batch %}
							                    <script>
								                    {% block batch_javascript %}
									                    jQuery(document).ready(function ($) {
										                    {% if admin.getListMode == 'list' %}
											                    $('#list_batch_checkbox').on('ifChanged', function () {
												                    $(this)
														                    .closest('table')
														                    .find('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
														                    .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
												                    ;
											                    });

											                    $('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
													                    .on('ifChanged', function () {
														                    $(this)
																                    .closest('tr, div.sonata-ba-list-field-batch')
																                    .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
														                    ;
													                    })
													                    .trigger('ifChanged');
										                    {% elseif admin.getListMode == 'mosaic' %}
											                    $('#list_batch_button').on('click', function () {
												                    var status = $(this).attr('data-checked');
												                    var toggledStatus = status;
												                    if(status =='false') {
													                    $(this).attr("data-checked", true);
													                    toggledStatus = true;
												                    } else {
													                    $(this).attr("data-checked", false);
													                    toggledStatus = false;
												                    }
												                    $(this)
														                    .closest('table')
														                    .find('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
														                    .iCheck(toggledStatus ? 'check' : 'uncheck')
												                    ;
											                    });
										                    {% endif %}

										                    $('#{{ admin.uniqid }}_list_actions')
												                    .popover({
													                    html : true,
													                    placement: 'top',
													                    trigger: 'manual'
												                    })
												                    .on('click', function (e) {
													                    e.preventDefault();
													                    $('#{{ admin.uniqid }}_list_actions').popover('toggle')
													                    console.log('click');
												                    })
												                    .on('show.bs.popover', function () {
													                    if($('#{{ admin.uniqid }}_list_export').length > 0) {
														                    $('#{{ admin.uniqid }}_list_export').popover('hide');
														                    console.log('popover');
													                    }

													                    if($('#{{ admin.uniqid }}_list_pager_result').length > 0) {
														                    $('#{{ admin.uniqid }}_list_pager_result').popover('hide');
														                    console.log('popover');
													                    }
												                    })
												                    .on('shown.bs.popover', function () {
													                    $('.popover-content').trigger('sonata-admin-append-form-element');
												                    });
									                    });
								                    {% endblock %}
							                    </script>
						                    {% endblock %}
					                    {% endif %}
					                    {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
						                    {# EXPORT BUTTON#}
						                    <a class="btn btn-primary popup-button"
						                       tabindex="0"
						                       role="button"
						                       title="Export"
						                       id="{{ admin.uniqid }}_list_export"
						                       data-content='
												<div class="btn-group">
								                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									                    <i class="glyphicon glyphicon-export"></i>
									                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
									                    <span class="caret"></span>
								                    </button>
								                    <ul class="dropdown-menu">
									                    {% for format in admin.getExportFormats() %}
									                    <li>
										                    <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
											                    <i class="glyphicon glyphicon-download"></i>
											                    {{ ("export_format_" ~ format)|trans({}, 'SonataAdminBundle') }}
										                    </a>
									                    <li>
										                    {% endfor %}
								                    </ul>
						                        </div>
						                       '>
							                    <i class="fa fa-fw fa-download"></i> <span class="hidden-xs hidden-sm hidden-md">Export</span>
						                    </a>

					                        {% block export %}
						                        <script>
							                    {% block export_javascript %}
								                    jQuery(document).ready(function ($) {
									                    $('#{{ admin.uniqid }}_list_export')
											                    .popover({
												                    html : true,
												                    placement: 'top',
												                    trigger: 'manual'
											                    })
											                    .on('click', function (e) {
												                    e.preventDefault();
												                    $('#{{ admin.uniqid }}_list_export').popover('toggle')
												                    console.log('click');
											                    })
											                    .on('show.bs.popover', function () {
												                    if($('#{{ admin.uniqid }}_list_actions').length > 0) {
													                    $('#{{ admin.uniqid }}_list_actions').popover('hide');
													                    console.log('popover');
												                    }

												                    if($('#{{ admin.uniqid }}_list_pager_result').length > 0) {
													                    $('#{{ admin.uniqid }}_list_pager_result').popover('hide');
													                    console.log('popover');
												                    }
											                    })
											                    .on('shown.bs.popover', function () {
												                    $('.popover-content').trigger('sonata-admin-append-form-element');
											                    });
								                    });
							                    {% endblock %}
							                    </script>
						                    {% endblock %}

					                    {% endif %}

					                    {% block pager_results %}
					                    {% include admin.getTemplate('pager_results') %}
					                    {% endblock %}
				                    </div>
			                    {% endif %}
			                    {% block pager_links %}
				                    {% if admin.datagrid.pager.haveToPaginate() %}
			                            {% if not app.request.isXmlHttpRequest %}
			                            <div class="col-xs-12 col-sm-12 col-md-6 rz-table-footer">
			                            {% else %}
					                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 rz-table-footer">
			                            {% endif %}
						                    {% include admin.getTemplate('pager_links') %}
					                    </div>
				                    {% endif %}
			                    {% endblock %}
		                    </div>
	                    </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
	    {% if admin.hasRoute('batch') and batchactions|length %}
        </form>
	    {% endif %}
	    {% endblock list_inner_table %}
    </div>
{% endblock %}

{% block list_filters_actions %}
	{%- if admin.datagrid.filters|length %}
		<ul class="nav navbar-nav navbar-right">

			<li class="dropdown sonata-actions">
				<a href="#" class="dropdown-toggle sonata-ba-action" data-toggle="dropdown">
					<i class="fa fa-filter"></i>
					{{ 'link_filters'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b>
				</a>

				<ul class="dropdown-menu" role="menu">
					{% for filter in admin.datagrid.filters if (filter.options['show_filter'] is same as(true) or filter.options['show_filter'] is null) %}
						<li>
							<a href="#" class="sonata-toggle-filter sonata-ba-action" filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}" filter-container="filter-container-{{ admin.uniqid() }}">
								<i class="fa {{ (filter.isActive() or filter.options['show_filter']) ? 'fa-check-square-o' : 'fa-square-o' }}"></i>{{ admin.trans(filter.label, {}, filter.translationDomain) }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	{% endif -%}
{% endblock %}

{% block list_filters %}
	{% if admin.datagrid.filters %}
		{% form_theme form admin.getTemplate('filter') %}

		<div class="col-xs-12 col-md-12 sonata-filters-box" style="display: {{ admin.datagrid.hasDisplayableFilters ? 'block' : 'none' }}" id="filter-container-{{ admin.uniqid() }}">
			<div class="box box-primary" >
				<div class="box-body">
					<form class="sonata-filter-form form-horizontal {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET" role="form">
						{{ form_errors(form) }}
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-9">
								{% set withAdvancedFilter = false %}
								{% for filter in admin.datagrid.filters %}
									<div class="form-group {% block sonata_list_filter_group_class %}{% endblock %}" id="filter-{{ admin.uniqid }}-{{ filter.name }}" sonata-filter="{{ (filter.options['show_filter'] is same as(true) or filter.options['show_filter'] is null) ? 'true' : 'false' }}" style="display: {% if (filter.isActive() and filter.options['show_filter'] is null) or (filter.options['show_filter'] is same as(true)) %}block{% else %}none{% endif %}">
										{% if filter.label is not same as(false) %}
											<label for="{{ form.children[filter.formName].children['value'].vars.id }}" class="col-xs-12 col-sm-12 col-md-3 control-label">{{ admin.trans(filter.label, {}, filter.translationDomain) }}</label>
										{% endif %}
										{% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}

										<div class="col-xs-12 col-sm-12 col-md-4 advanced-filter">
											{{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
										</div>

										<div class="col-xs-12 col-sm-12 col-md-4">
											{{ form_widget(form.children[filter.formName].children['value']) }}
										</div>

										<div class="col-xs-12 col-sm-12 col-md-1 rz-action-filter-field">
											<label class="control-label">
												<a href="#" class="sonata-toggle-filter sonata-ba-action" filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}" filter-container="filter-container-{{ admin.uniqid() }}">
													<i class="fa fa-minus-circle"></i>
												</a>
											</label>
										</div>
									</div>

									{% if filter.options['advanced_filter'] %}
										{% set withAdvancedFilter = true %}
									{% endif %}
								{% endfor %}
							</div>
							<div class="col-xs-12 col-sm-12 col-md-3 text-center">
								<input type="hidden" name="filter[_page]" id="filter__page" value="1">

								{% set foo = form.children['_page'].setRendered() %}
								{{ form_rest(form) }}

								<div class="form-group">
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}
									</button>

									<a class="btn btn-default" href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">
										{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}
									</a>
								</div>

								{% if withAdvancedFilter %}
									<div class="form-group">
										<a href="#" data-toggle="advanced-filter">
											<i class="fa fa-cogs"></i>
											{{ 'btn_advanced_filters'|trans({}, 'SonataAdminBundle') }}
										</a>
									</div>
								{% endif %}
							</div>
						</div>

						{% for paramKey, paramValue in admin.persistentParameters %}
							<input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
