{#{% block num_pages %}#}
	{#{{ admin.datagrid.pager.page }} / {{ admin.datagrid.pager.lastpage }}#}
	{#&nbsp;->>&nbsp;#}
{#{% endblock %}#}

{#{% block num_results %}#}
	{#{% transchoice admin.datagrid.pager.nbresults with {'%count%': admin.datagrid.pager.nbresults} from 'SonataAdminBundle' %}list_results_count{% endtranschoice %}#}
	{#&nbsp;-&nbsp;#}
{#{% endblock %}#}

{#{% block max_per_page %}#}
	{#<label class="control-label" for="{{ admin.uniqid }}_per_page">{% trans from 'SonataAdminBundle' %}label_per_page{% endtrans %}</label>#}
	{#<select class="per-page small form-control" id="{{ admin.uniqid }}_per_page" style="width: auto">#}
		{#{% for per_page in admin.getperpageoptions %}#}
			{#<option {% if per_page == admin.datagrid.pager.maxperpage %}selected="selected"{% endif %} value="{{ admin.generateUrl('list', {'filter': admin.datagrid.values | merge({'_page': 1, '_per_page': per_page})}) }}">#}
				{#{{ per_page }}#}
			{#</option>#}
		{#{% endfor %}#}
	{#</select>#}
{#{% endblock %}#}

<a class="btn btn-primary popup-button"
   tabindex="0"
   role="button"
   title="Pager Result"
   id="{{ admin.uniqid }}_list_pager_result"
   data-content='
        <div class="form-group">
			{% block num_pages %}
				{{ admin.datagrid.pager.page }} / {{ admin.datagrid.pager.lastpage }}
				&nbsp;-&nbsp;
			{% endblock %}

			{% block num_results %}
				{% transchoice admin.datagrid.pager.nbresults with {'%count%': admin.datagrid.pager.nbresults} from 'SonataAdminBundle' %}list_results_count{% endtranschoice %}
			{% endblock %}
		</div>
        <div class="form-group">
			{% block max_per_page %}
				<label class="control-label" for="{{ admin.uniqid }}_per_page">{% trans from 'SonataAdminBundle' %}label_per_page{% endtrans %}</label>
				<select class="per-page small form-control" id="{{ admin.uniqid }}_per_page" style="width: auto">
					{% for per_page in admin.getperpageoptions %}
						<option {% if per_page == admin.datagrid.pager.maxperpage %}selected="selected"{% endif %} value="{{ admin.generateUrl('list', {'filter': admin.datagrid.values | merge({'_page': 1, '_per_page': per_page})}) }}">
							{{ per_page }}
						</option>
					{% endfor %}
				</select>
			{% endblock %}
		</div>
   '>
	<i class="fa fa-fw fa-copy"></i> <span class="hidden-xs hidden-sm hidden-md">Per Page</span>
</a>

<script>
	{% block export_javascript %}
	jQuery(document).ready(function ($) {
		$('#{{ admin.uniqid }}_list_pager_result')
				.popover({
					html : true,
					placement: 'top',
					trigger: 'manual'
				})
				.on('click', function (e) {
					e.preventDefault();
					$('#{{ admin.uniqid }}_list_pager_result').popover('toggle')
					console.log('click');
				})
				.on('show.bs.popover', function () {
					if($('#{{ admin.uniqid }}_list_actions').length > 0) {
						$('#{{ admin.uniqid }}_list_actions').popover('hide');
					}
					if($('#{{ admin.uniqid }}_list_export').length > 0) {
						$('#{{ admin.uniqid }}_list_export').popover('hide');
					}
				})
				.on('shown.bs.popover', function () {
					$('.popover-content').trigger('sonata-admin-append-form-element');
				});
	});
	{% endblock %}
</script>
